@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --backgroundLady-color: rgb(71, 70, 68);
}


/* Acueil Lady ------------------------------------------------------------------ */

.accueilLady {
    height: 100vh;
    width: 100vw;
    background-color: var(--backgroundLady-color);
    color: white;
}

.accueilApp {
  position: absolute;
  top: 1%;
  left: 1%;
    
}

.horseLady {
    height: 6vh;
}

.titreAccueilLady {
    font-family: 'Dancing Script', cursive;
    height: 15%;
    position: relative;
}

.titreAccueilLady h1 {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;;
}

.menu {
    height: 85%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.divMenu {
    height: 50%;
    width: 50%;
    display: flex;
}

.linkImg {
    margin: auto;
    text-align: center;
}

.img_ecurie_lady {
    width: 90%;
    border-radius: 5px;
}

@media screen and (min-width: 1025px) {
    .img_ecurie_lady {
        width: 55%;
    }
}

.img_entrainement_lady {
    width: 80%;
    border-radius: 5px;
}

@media screen and (min-width: 1025px) {
    .img_entrainement_lady {
        width: 55%;
    }
}

.img_courses_lady {
    width: 80%;
    border-radius: 5px;
}

@media screen and (min-width: 1025px) {
    .img_courses_lady {
        width: 65%;
    }
}

.img_fiche_lady {
    width: 60%;
    border-radius: 5px;
}

@media screen and (min-width: 1025px) {
    .img_fiche_lady {
        width: 25%;
    }
}