@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

:root {
    --backgroundLady-color: rgb(71, 70, 68);
}


/* Acueil Lady ------------------------------------------------------------------ */

.accueilLady {
    height: 100vh;
    width: 100vw;
    background-color: var(--backgroundLady-color);
    color: white;
}

.accueilApp {
  position: absolute;
  top: 1%;
  left: 1%;  
}

.horseLady {
    height: 6vh;
}

.titreAccueilLady {
    font-family: 'Dancing Script', cursive;
    height: 15%;
    position: relative;
}

.titreAccueilLady h1 {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;;
}

.menu {
    height: 85%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.divMenu {
    height: 50%;
    width: 50%;
    display: flex;
}

.linkImg {
    margin: auto;
    text-align: center;
}

.img_ecurie_lady {
    width: 90%;
    border-radius: 5px;
}

@media screen and (min-width: 1025px) {
    .img_ecurie_lady {
        width: 55%;
    }
}

.img_entrainement_lady {
    width: 80%;
    border-radius: 5px;
}

@media screen and (min-width: 1025px) {
    .img_entrainement_lady {
        width: 55%;
    }
}

.img_courses_lady {
    width: 80%;
    border-radius: 5px;
}

@media screen and (min-width: 1025px) {
    .img_courses_lady {
        width: 65%;
    }
}

.img_fiche_lady {
    width: 60%;
    border-radius: 5px;
}

@media screen and (min-width: 1025px) {
    .img_fiche_lady {
        width: 25%;
    }
}



/* Lady écurie ------------------------------------------------------------------ */

.accueilPremierPartantGalop {
    min-height: 93vh;
    width: 100%;
    background-color: var(--backgroundLady-color);
    color: white;
    padding-bottom: 10vh;
    font-family: 'Lato', sans-serif;
}

.retour {
    position: absolute;
    top: 1%;
    right: 1%;  
    color: white;
    font-size: 1em;
  }

.titreLady {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    padding: 5% 0 5% 0;
}

.titreLadyFiche {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    padding: 5% 0 5% 0;
}

@media screen and (min-width: 1025px) {
    .titreLadyFiche {
        padding: 5% 0 1% 0;
    }
}

.infosPage {
    text-align: center;
}

.photosPage {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1025px) {
    .photosPage {
        flex-direction: row;
    }
}

.divPhotoPage {
    margin: auto;
    margin-bottom: 2%;
}

.photoPageHorizontale {
    width: 80vw;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(109, 109, 109);
}

@media screen and (min-width: 1025px) {
    .photoPageHorizontale {
        width: 30vw;
    }
}

.photoPageVerticale {
    width: 40vw;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(109, 109, 109);
}

@media screen and (min-width: 1025px) {
    .photoPageVerticale {
        width: 18vw;
    }
}

.infosLady {
    color: white;
    text-align: center;
    padding: 5% 0 5% 0;
}

@media screen and (min-width: 1025px) {
    .infosLady {
        padding: 1% 0 1% 0;
    }
}

.photoPageVerticaleFiche {
    width: 70vw;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(109, 109, 109);
}

@media screen and (min-width: 1025px) {
    .photoPageVerticaleFiche {
        width: 34vw;
    }
}