@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
:root {
    --background-color: rgb(194, 150, 100);
    --font-navbar-color: rgb(107, 69, 19);
}


/* App ------------------------------------------------------------------ */

.app {
    height: 86vh;
    width: 100vw;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    color: white;
}

@media screen and (min-width: 1025px) {
    .app {
        height: 93vh;
        margin-top: 0;
    }
}

.ligne {
    display: flex;
    height: calc(100% / 4);
    padding-top: 5%;
}

.case {
    display: flex;
    width: 50%;
    height: 100%;
    color: white;
}

.case:hover {
    color: white;
    text-decoration: none;
}

.ecurie {
    margin: auto;
}

.casaque {
    width: 10vh;
    margin-bottom: 15%;
    filter: drop-shadow(15px 4px 4px rgb(109, 109, 109));
}

.casaque:hover {
    transition: transform 500ms;
    transform: rotate(360deg);
}

.nomEcurie {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    font-family: 'Hind Siliguri', sans-serif;
}


/* Accueil 2013 ----------------------------------------------------------------- */

.accueil2013 {
    min-height: 93vh;
    width: 100%;
    background-color: var(--background-color);
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 10vh;
    text-align: -webkit-center;
}

.titreAccueil {
    text-align: center;
    padding: 2% 0 2% 0;
}

.annee {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Hind Siliguri', sans-serif;
}

.casaqueAccueil {
    width: 50px;
    filter: drop-shadow(15px 4px 4px rgb(109, 109, 109));
}

.rubrique {
    border-radius: 5px;
    width: 70%;
    height: 10vh;
    margin-left: 5%;
    display: flex;
    margin-bottom: 2%;
    color: white;
    background-color: rgb(165, 117, 62);
    box-shadow: 10px 5px 5px rgb(109, 109, 109);
}

.rubrique:hover {
    color: black;
    text-decoration: none;
    background-color: rgb(214, 208, 208);
}

.titreRubrique {
    margin: auto;
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-weight: bold;
}


/* Compo ----------------------------------------------------------------------- */

.cheval {
    border: solid 1px white;
    border-radius: 5px;
    width: 90%;
    height: 25vh;
    margin-left: 5%;
    display: flex;
    margin-bottom: 2%;
    color: white;
    display: flex;
    background-color: rgb(165, 117, 62);
    box-shadow: 10px 5px 5px rgb(109, 109, 109);
}

@media screen and (min-width: 1025px) {
    .cheval {
        width: 70%;
        height: 50vh;
        margin: auto;
        margin-bottom: 2%;
    }
}

.imgHorizontale {
    width: 50%;
    height: 100%;
}

.imgVerticale {
    width: 30%;
    height: 100%;
}

.infos {
    width: 50%;
    margin: auto;
    font-size: 0.6em;
    font-family: 'Lato', sans-serif;
}

@media screen and (min-width: 600px) {
    .infos {
        font-size: 1.5em;
    }
}

.nomCheval {
    text-align: center;
    font-weight: bold;
    font-size: 0.8rem;
    margin: 0;
}

@media screen and (min-width: 768px) {
    .nomCheval {
        font-size: 1.8rem;
    }
}

.discipline {
    font-style: italic;
    text-align: center;
    font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
    .discipline {
        font-size: 1.2rem;
    }
}

.divDetailsCompo {
    display: flex;
    flex-direction: row;
}

.resultats {
    display: flex;
    width: 50%;
}

.resultats2 {
    margin: auto;
    padding-left: 5%;
}

@media screen and (min-width: 1024px) {
    .divInfos {
        padding-right: 2%;
    }
}

.pInfos {
    text-align: center;
    margin: 0;
    font-size: 0.5rem;
}

@media screen and (min-width: 768px) {
    .pInfos {
        font-size: 1.2rem;
    }
}


/* Contact ------------------------------------------------------------------------ */

.divContact {
    display: flex;
    height: 93vh;
    background-color: var(--background-color);
    font-family: 'Lato', sans-serif;
}

.divContact2 {
    margin: auto;
    color: white;
}

.divContact2 a {
    color: white;
}

.divContact2 a:hover {
    color: white;
}

.textContact {
    font-size: 0.9rem;
}

@media screen and (min-width: 540px) {
    .textContact {
        font-size: 1.2rem;
    }
}


/* Crédits ------------------------------------------------------------------------ */

.divCredits {
    display: flex;
    height: 93vh;
    background-color: var(--background-color);
    font-family: 'Lato', sans-serif;
}

.divCredits2 {
    margin: auto;
    color: white;
}

.divCredits2 a {
    color: white;
}

.divCredits2 a:hover {
    color: white;
}


/* Footer ------------------------------------------------------------------------- */

.bodyFooter {
    height: 7vh;
    width: 100vw;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 5;
}

@media screen and (min-width: 1025px) {
    .bodyFooter {
        display: none;
    }
}

.divFooter {
    width: calc(100% / 6);
    height: 7vh;
    display: flex;
    background-color: var(--background-color);
    border-top: solid 1px white;
    border-left: solid 1px white;
    border-right: solid 1px white;
}

.ecStyle {
    background-color: rgb(146, 93, 43);
}

.linkFooter {
    margin: auto;
    color: white;
    height: 100%;
}

.stable {
    width: 100%;
    height: 7vh;
}

.colorLinkFooter {
    font-size: 0.7em;
    height: 100%;
    display: flex;
}

@media screen and (min-width: 760px) {
    .colorLinkFooter {
        font-size: 1.4em;
    }
}

.casaqueFooter {
    margin: auto;
    height: 80%;
    filter: drop-shadow(10px 4px 4px rgb(109, 109, 109));
}


/* Header --------------------------------------------------------------------- */

.bodyHeader {
    display: none;
}

@media screen and (min-width: 1025px) {
    .bodyHeader {
        display: block;
    }
}

.navbar {
    height: 7vh;
    z-index: 100 !important;
    background-color: var(--background-color);
    border-bottom: solid 1px white;
    color: white !important;
}

.nav-link {
    background-color: var(--background-color);
    z-index: 100 !important;
    color: var(--font-navbar-color) !important;
}


/* HeaderMobile -------------------------------------------------------------- */

.bodyHeaderMobile {
    height: 7vh;
    width: 100vw;
    display: flex;
    top: 0;
}

@media screen and (min-width: 1025px) {
    .bodyHeaderMobile {
        display: none;
    }
}

.divHeaderMobile {
    width: 100%;
    height: 7vh;
    display: flex;
    background-color: var(--background-color);
    border-bottom: solid 1px white;
}

.logo {
    width: 60%;
}

.horse {
    height: 6vh;
}

.linkHeaderMobile1 {
    color: white;
    width: 20%;
    line-height: 7vh;
    text-align: right;
    font-size: 1rem;
    font-family: 'Parisienne', cursive, sans-serif;
    font-weight: bold;
    color: var(--font-navbar-color);
}

.linkHeaderMobile1:hover {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 540px) {
    .linkHeaderMobile1 {
        font-size: 1rem;
    }
}

.linkHeaderMobile2 {
    color: white;
    width: 20%;
    line-height: 7vh;
    text-align: center;
    font-size: 1rem;
    font-family: 'Parisienne', cursive, sans-serif;
    font-weight: bold;
    color: var(--font-navbar-color);
}

.linkHeaderMobile2:hover {
    color: white;
    text-decoration: none;
}

@media screen and (min-width: 540px) {
    .linkHeaderMobile2 {
        font-size: 1rem;
    }
}


/* Not Found -------------------------------------------------------------- */

.notFound {
    height: 93vh;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.divNotFound {
    margin: auto;
    color: white;
}

.imgExit {
    width: 100px;
}

.imgDoor {
    width: 100px;
}


/* Page ----------------------------------------------------------------------------------- */

.accueilPremierPartantGalop {
    min-height: 93vh;
    width: 100%;
    background-color: var(--background-color);
    color: white;
    padding-bottom: 10vh;
    font-family: 'Lato', sans-serif;
}

.titrePage {
    text-align: center;
    font-weight: bold;
    padding-top: 2%;
}

.infosPage {
    text-align: center;
}

.photosPage {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 1025px) {
    .photosPage {
        flex-direction: row;
    }
}

.divPhotoPage {
    margin: auto;
    margin-bottom: 2%;
}

.photoPageHorizontale {
    width: 80vw;
    height: 30vh;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(109, 109, 109);
}

@media screen and (min-width: 1025px) {
    .photoPageHorizontale {
        width: 30vw;
        height: 40vh;
    }
}

.photoBelle {
    width: 60vw;
    height: 30vh;
}

@media screen and (min-width: 1025px) {
    .photoBelle {
        width: 25vw;
        height: 40vh;
    }
}

.photoPageVerticale {
    width: 40vw;
    height: 30vh;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgb(109, 109, 109);
}

@media screen and (min-width: 1025px) {
    .photoPageVerticale {
        width: 18vw;
        height: 40vh;
    }
}